@import '../../sass/variables.scss';
.portfolio-page {
    background-color: #111111;
    min-height: 100vh;
    color: #fff;
    padding-top:50px;
    padding-bottom: 20px;
    transition: all .8s ease-in-out;
    padding: 0 150px 70px 150px;
    .active {
        color: $yellow-color;
    }
    .portfolio-controls {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .portfolio-item{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        img {
            top: 0;
            left: 0;
            transition: all 2s ease-in-out;
        }
    }
    .Casher, .CRUDS,
    .Hangman, .Memory, .Book {
        img {
            height: 100%;
        }
    }
}
